<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <title>Kanji Prescription</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap"
        rel="stylesheet">
  <link rel="stylesheet"
        type="text/css"
        media="screen"
        href="main.css">
  <link rel="stylesheet"
        type="text/css"
        media="print"
        href="print.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
</head>

<body>
  <div id="app">
    <div id="wrapper">
      <div v-for="(page, index) in pages"
           class='pages'
           v-if="pages.length">
        <div class="page-container">
          <div :size="page.size.format"
               :layout="page.size.layout"
               class="page">
            <div class="symbols-grid"
                 :style="getGridData(page).style">
              <div class="cell"
                   v-for="cellId in getCellsCount(page)"
                   :class="{['page_' + index + '_cell_' + cellId]: true}"
                   :style="getCellData(page, cellId).style">
                <p> {{getCellData(page, cellId).content}} </p>
              </div>
            </div>
          </div>
          <div class="top-menu">
            <button class="add-page"
                    @click="changeDirection(page, index)">
              <em class="fa"
                  :class="{'fa-arrow-down': page.grid.direction === 'columns', 'fa-arrow-right': page.grid.direction !== 'columns'}"></em>
            </button>
          </div>
          <div class="right-menu"></div>
          <div class="left-menu"></div>
          <div class="bottom-menu">
            <button class="add-page"
                    v-if="pages.length === index + 1"
                    @click="addPageAfter(index)">
              <em class="fa fa-plus"></em>
            </button>
            <button class="add-page"
                    @click="deletePage(index)">
              <em class="fa fa-minus"></em>
            </button>
          </div>
        </div>
      </div>
      <div v-if="!pages.length">
        <button class="add-page"
                @click="addPageAfter(0)">
          <em class="fa fa-plus"></em>
        </button>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>

</html>
