@import './styles/fonts';
@import './styles/pages';

:root {
  --cell-size: 0;
  --font-size: 1.5cm;
}

body {
  background: rgb(204, 204, 204);
  margin: 0;
  padding: 15px;
}

#wrapper {
  display: grid;
  justify-content: center;
}

.pages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  .page-container {
    display: grid;
    grid:
      '. top-menu .' auto
      'left-menu page-list right-menu' auto
      '. bottom-menu .' auto
      / 100px auto 100px;

    .top-menu {
      grid-area: top-menu;
      justify-self: center;
    }
    .right-menu {
      padding-top: 0.5cm;
      grid-area: right-menu;
    }

    .left-menu {
      display: grid;
      grid:
        '. row-add-remove' 100%
        / 1fr 1fr;
      padding-top: 0.5cm;
      grid-area: left-menu;

      .row-add-remove {
        display: grid;
        justify-self: center;
        grid-area: row-add-remove;

        button {
          align-self: center;
          width: 20px;
          height: 20px;
          font-size: 12px;
          background-color: white;
          color: gray;
          border: none;
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }
      }
    }

    .bottom-menu {
      grid-area: bottom-menu;
      justify-self: center;
      margin-bottom: 10px;
    }

    .page {
      display: grid;
      grid-area: page-list;
      justify-self: center;
      background: white;
      padding: 0;
      margin: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
  }
}

.add-page {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: white;
  color: gray;
  border: none;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.symbols-grid {
  display: grid;
}

.cell {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: 1px dashed black;
  font-size: var(--font-size);
  color: white;
  -webkit-text-stroke: 1px grey;
  font-family: 'Noto Serif TC', serif;
  font-family: 'China6', serif;
  font-family: 'China3', serif;
  font-family: 'China1', serif;
  font-family: 'China2', serif;
  font-family: 'China4', serif;
  font-family: 'China5', serif;
  font-family: 'KaiTi_GB2312', 'China5', serif;

  .stroke-diag-left {
    // display: flex;
    // position:relative;
    // content: ' ';
    // height: 33px;
    // width: 2px;
    // background-color: #333;
    // transform: rotate(45deg);

    &:before {
      // content: attr(data-class);
      // position: absolute;
      // font-size: 2vmax; /* update font-size */
      // top: 0.4em;
      // left: -1.3em;
      // padding: 0em 1.5em;
      // transform: rotate(315deg);
      // background-color:gold;
      /* eventually add some shadow effects */
      // background-image: 
      // linear-gradient(135deg, black 0.9em, transparent 1.15em), 
      // linear-gradient(-135deg, black 0.9em, transparent 1.15em);
      // bo
    }
  }

  // .cross:before, .cross:after {
  //   position: absolute;
  //   left: 15px;
  //   content: ' ';
  //   height: 33px;
  //   width: 2px;
  //   background-color: #333;
  // }
  // .cross:before {
  //   transform: rotate(45deg);
  // }
  // .cross:after {
  //   transform: rotate(-45deg);
  // }

  p {
    margin: 0;
  }
}
