@import './styles/fonts.scss';
@import './styles/pages.scss';

:root {
  --cell-size: 0;
  --font-size: 1.8cm;
  --stroke-thick: 1px;
}

body {
  background: rgb(204, 204, 204);
  margin: 0;
  padding: 15px;
}

#wrapper {
  display: grid;
  justify-content: center;
}

.pages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  .page-container {
    display: grid;
    grid:
      '. top-menu .' auto
      'left-menu page-list right-menu' auto
      '. bottom-menu .' auto
      / 100px auto 100px;

    .top-menu {
      grid-area: top-menu;
      justify-self: center;
    }
    .right-menu {
      padding-top: 0.5cm;
      grid-area: right-menu;
    }

    .left-menu {
      display: grid;
      grid:
        '. row-add-remove' 100%
        / 1fr 1fr;
      padding-top: 0.5cm;
      grid-area: left-menu;

      .row-add-remove {
        display: grid;
        justify-self: center;
        grid-area: row-add-remove;

        button {
          align-self: center;
          width: 20px;
          height: 20px;
          font-size: 12px;
          background-color: white;
          color: gray;
          border: none;
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }
      }
    }

    .bottom-menu {
      grid-area: bottom-menu;
      justify-self: center;
      margin-bottom: 10px;
    }

    .page {
      display: grid;
      grid-area: page-list;
      justify-self: center;
      background: white;
      padding: 0;
      margin: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
  }
}

.add-page {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: white;
  color: gray;
  border: none;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.symbols-grid {
  display: grid;
}

.cell {
  padding: 0px;
  margin: 0px;
  border: var(--stroke-thick) dashed black;
  font-size: var(--font-size);
  color: white;
  -webkit-text-stroke: 1px grey;
  // font-family: 'Noto Serif TC', serif;
  // font-family: 'China6', serif;
  // font-family: 'China3', serif;
  // font-family: 'China1', serif;
  // font-family: 'China2', serif;
  // font-family: 'China4', serif;
  // font-family: 'China5', serif;
  // font-family: 'KaiTi_GB2312', 'China5', serif;

  .cross {
    --cell-height: 2cm;
    --cell-width: 2cm;
    --cell-diag: 2.828427cm;
    --cell-width-25p: calc(1 * var(--cell-width) / 4 - var(--stroke-thick) * 1.5);
    --cell-width-50p: calc(2 * var(--cell-width) / 4 - var(--stroke-thick) * 1.5);
    --cell-width-75p: calc(3 * var(--cell-width) / 4 - var(--stroke-thick) * 1.5);
    --cell-height-25p: calc(1 * var(--cell-height) / 4 - var(--stroke-thick) * 1.5);
    --cell-height-50p: calc(2 * var(--cell-height) / 4 - var(--stroke-thick) * 1.5);
    --cell-height-75p: calc(3 * var(--cell-height) / 4 - var(--stroke-thick) * 1.5);
    --stroke-gap: calc(-1 * var(--stroke-thick));

    position: relative;

    .stroke:before {
      content: '';
      padding: 0px;
      margin: 0px;
      position: absolute;
      border-right: var(--stroke-thick) dashed black;
      opacity: 0.9;
      height: var(--cell-height);
      width: 0;
    }

    .stroke-diag-left:before {
      height: calc(var(--cell-diag) - 2 * var(--stroke-thick));
      transform-origin: 0% 0%;
      transform: translateX(calc(-1 * var(--stroke-thick) / 2)) rotate(-45deg);
    }
    .stroke-diag-right:before {
      height: calc(var(--cell-diag) - 2 * var(--stroke-thick));
      transform-origin: 0% 0%;
      transform: translateX(calc(var(--cell-height) - var(--stroke-thick) * 2)) rotate(45deg)
        translateX(calc(-1 * var(--stroke-thick) / 2));
    }
    .stroke-vert-left:before {
      transform: translateX(var(--cell-height-25p)) translateY(var(--stroke-gap));
    }
    .stroke-vert-center:before {
      transform: translateX(var(--cell-height-50p)) translateY(var(--stroke-gap));
    }
    .stroke-vert-right:before {
      transform: translateX(var(--cell-height-75p)) translateY(var(--stroke-gap));
    }
    .stroke-horiz-top:before {
      transform-origin: 0% 0%;
      transform: rotate(-90deg) translateX(var(--cell-width-25p)) translateY(var(--stroke-gap));
    }
    .stroke-horiz-center:before {
      transform-origin: 0% 0%;
      transform: rotate(-90deg) translateX(var(--cell-width-50p)) translateY(var(--stroke-gap));
    }
    .stroke-horiz-bottom:before {
      transform-origin: 0% 0%;
      transform: rotate(-90deg) translateX(var(--cell-width-75p)) translateY(var(--stroke-gap));
    }
  }

  .text-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
