@import './styles/fonts';
@import './styles/pages';

:root {
  --cell-size: 0;
  --font-size: 1.5cm;
}

body {
  background: rgb(204, 204, 204);
  margin: 0;
  padding: 15px;
}

#wrapper {
  display: grid;
  justify-content: center;
}

.pages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  .page-container {
    display: grid;
    grid:
      '. top-menu .' auto
      'left-menu page-list right-menu' auto
      '. bottom-menu .' auto
      / 100px auto 100px;

    .top-menu {
      grid-area: top-menu;
      justify-self: center;
    }
    .right-menu {
      padding-top: 0.5cm;
      grid-area: right-menu;
    }

    .left-menu {
      padding-top: 0.5cm;
      grid-area: left-menu;
    }

    .bottom-menu {
      grid-area: bottom-menu;
      justify-self: center;
    }

    .page {
      display: grid;
      grid-area: page-list;
      justify-self: center;
      background: white;
      padding: 0;
      margin: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
  }
}

.add-page {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: white;
  color: gray;
  border: none;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.symbols-grid {
  display: grid;
}

.cell {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: 1px dashed black;
  font-size: var(--font-size);
  color: white;
  -webkit-text-stroke: 1px grey;
  font-family: 'Noto Serif TC', serif;
  font-family: 'China6', serif;
  font-family: 'China3', serif;
  font-family: 'China1', serif;
  font-family: 'China2', serif;
  font-family: 'China4', serif;
  font-family: 'China5', serif;
  font-family: 'KaiTi_GB2312', 'China5', serif;

  p {
    margin: 0;
  }
}
