body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background: rgb(204, 204, 204);
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.pages {
}

@media print {
  .page {
    box-shadow: none !important;
  }

  body {
    background:white;
    margin: 0;
    padding: 0;
  }

  dialog {
    display: none !important;
  }
}
