.container {
  display: grid;
  grid:
    'top-panel top-panel top-panel' auto
    'left-panel main-content right-panel' auto
    'footer-panel footer-panel footer-panel' auto
    / auto auto auto;
  height: 100vh;

  .top-panel {
    grid-area: top-panel;
    align-items: center;
    justify-content: center;
  }

  .left-panel {
    grid-area: left-panel;
  }

  .right-panel {
    grid-area: right-panel;
  }

  .footer-panel {
    grid-area: footer-panel;
  }

  .main-content {
    grid-area: main-content;
    align-self: center;
    justify-self: center;
  }
}
