.cross {
  --cell-height: 2cm;
  --cell-width: 2cm;
  --cell-diag: 2.84cm;
  --cell-ang-diag: 45deg;

  --stroke-gap: calc(var(--stroke-thick));
  --stroke-gap-minus: calc(-1 * var(--stroke-gap));
  --stroke-gap-half: calc(var(--stroke-gap) / 2);
  --stroke-gap-half-minus: calc(-1 * var(--stroke-gap-half));

  --cell-width-0p: var(--stroke-gap-half-minus);;
  --cell-width-25p: calc(1 * var(--cell-width) / 4 + var(--stroke-gap-half-minus));
  --cell-width-50p: calc(2 * var(--cell-width) / 4 + var(--stroke-gap-half-minus));
  --cell-width-75p: calc(3 * var(--cell-width) / 4 + var(--stroke-gap-half-minus));
  --cell-width-100p: calc(var(--cell-width) + var(--stroke-gap-half-minus));

  --cell-height-0p: var(--stroke-gap-half-minus);
  --cell-height-25p: calc(-1 * (1 * var(--cell-height) / 4) + var(--stroke-gap-half-minus));
  --cell-height-50p: calc(-1 * (2 * var(--cell-height) / 4) + var(--stroke-gap-half-minus));
  --cell-height-75p: calc(-1 * (3 * var(--cell-height) / 4) + var(--stroke-gap-half-minus));
  --cell-height-100p: calc(-1 * var(--cell-height) + var(--stroke-gap-half-minus));

  position: relative;

  .stroke:before {
    content: '';
    padding: 0px;
    margin: 0px;
    position: absolute;
    border-right: var(--stroke-thick) dashed black;
    width: 0;
  }

  .stroke-vert:before {
    height: var(--cell-height);
  }
  .stroke-horiz:before {
    height: var(--cell-width);
  }

  .stroke-vert-first:before {
    transform: translateX(var(--cell-width-0p));
  }
  .stroke-vert-left:before {
    transform: translateX(var(--cell-width-25p));
  }
  .stroke-vert-center:before {
    transform: translateX(var(--cell-width-50p));
  }
  .stroke-vert-right:before {
    transform: translateX(var(--cell-width-75p));
  }
  .stroke-vert-last:before {
    transform: translateX(var(--cell-width-100p));
  }

  .stroke-horiz-first:before {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(var(--cell-height-0p));
  }
  .stroke-horiz-top:before {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(var(--cell-height-25p));
  }
  .stroke-horiz-center:before {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(var(--cell-height-50p));
  }
  .stroke-horiz-bottom:before {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(var(--cell-height-75p));
  }
  .stroke-horiz-last:before {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(var( --cell-height-100p));
  }

  .stroke-diag-left:before {
    height: var(--cell-diag);
    transform-origin: 0% 0%;
    transform: rotate(calc(-1 * var(--cell-ang-diag))) translateX(var(--stroke-gap-half-minus));
  }
  .stroke-diag-right:before {
    height: var(--cell-diag);
    transform-origin: 0% 0%;
    transform: translateX(var(--cell-width)) translateX(var(--stroke-gap-half-minus)) rotate(var(--cell-ang-diag));
  }
}
