@font-face {
  font-family: 'China1';
  src: url('./fonts/sunyunhekukai.ttf') format('truetype');
}

@font-face {
  font-family: 'China2';
  src: url('./fonts/WCL-07.ttf') format('truetype');
}

@font-face {
  font-family: 'China3';
  src: url('./fonts/wt024.ttf') format('truetype');
}

@font-face {
  font-family: 'China4';
  src: url('./fonts/wts11.ttf') format('truetype');
}

@font-face {
  font-family: 'China5';
  src: url('./fonts/cwTeXQFangsong-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'China6';
  src: url('./fonts/HanWang_KaiBold-Gb5.ttf') format('truetype');
}

@font-face {
  font-family: 'KaiTi_GB2312';
  src: url('./fonts/KaiTi_GB2312.woff2') format('woff2');
}

@font-face {
  font-family: 'DFPHeiW5-GB';
  src: url('./fonts/DFPHeiW5-GB.ttf') format('truetype');
}

// @font-face {
//   font-family: 'FangSong_GB2312';
//   src: url('./fonts/HanWFangSong_GB2312.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'FZCuQian-M17S';
//   src: url('./fonts/HaFZCuQian-M17S.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'FZDaBiaoSong-B06S';
//   src: url('./fonts/HanWanFZDaBiaoSong-B06S.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'FZHuaLi-M14S';
//   src: url('./fonts/HFZHuaLi-M14S.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'FZXiaoBiaoSong-B05S';
//   src: url('./fonts/HanWang_FZXiaoBiaoSong-B05S.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'MicrosoftYaHei';
//   src: url('./fonts/HanMicrosoftYaHei.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'SimHei';
//   src: url('./fSimHei.ttf.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'STZhongsong';
//   src: url('./fonts/STZhongsong.ttf') format('truetype');
// }

// @font-face {
//   font-family: "MSungHKS-Bold";
//   src: url("./fonts/MSungHKS-Bold.otf") format("otf")
// }
// @font-face {
//   font-family: "MFXingHei_Noncommercial-Light";
//   src: url("./fonts/MFXingHei_Noncommercial-Light.otf") format("otf")
// }
