#edit {
  position: relative;
  top: var(--edit-modal-top);
  left: var(--edit-modal-left);
  width: var(--edit-modal-width);
  height: var(--edit-modal-height);
  // background-color: white;
  margin: 0;

  .modal-base {
    width: 100%;
    height: 100%;
    position: relative;
    top: calc(-2 * var(--edit-modal-button-size));
    left: calc(-2 * var(--edit-modal-button-size));
    display: grid;

    grid:
      '. . extend-up . .' var(--edit-modal-button-size)
      '. . plus-height . .' var(--edit-modal-button-size)
      'extend-left minus-width edit-text plus-width extend-rigth' var(--edit-modal-height)
      '. . minus-height . .' var(--edit-modal-button-size)
      '. . extend-down . .' var(--edit-modal-button-size)
      / var(--edit-modal-button-size) var(--edit-modal-button-size) var(--edit-modal-width) var(--edit-modal-button-size) var(--edit-modal-button-size);
  }

  #edit-text {
    grid-area: edit-text;
    border: none;
    text-align: center;
    font-size: var(--font-size);
  }

  #minus-width {
    grid-area: minus-width;
  }

  #plus-width {
    grid-area: plus-width;
  }

  #minus-height {
    grid-area: minus-height;
  }

  #plus-height {
    grid-area: plus-height;
  }

  #extend-rigth {
    grid-area: extend-rigth;
  }

  #extend-down {
    grid-area: extend-down;
  }

  #extend-left {
    grid-area: extend-left;
  }

  #extend-up {
    grid-area: extend-up;
  }
}
