.container {
  display: grid;
  grid:
    'top-panel top-panel top-panel' minmax(min-content, max-content)
    'left-panel main-content right-panel' auto
    'footer-panel footer-panel footer-panel' minmax(min-content, max-content)
    / minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  height: 100vh;

  .top-panel {
    grid-area: top-panel;
  }

  .left-panel {
    grid-area: left-panel;
  }

  .right-panel {
    grid-area: right-panel;
  }

  .footer-panel {
    grid-area: footer-panel;
  }

  .main-content {
    grid-area: main-content;
    align-self: center;
    justify-self: center;
  }
}
