.DocumentView {
  display: grid;
  row-gap: 20px;

  .PageBox {
    display: grid;
    grid: 'page buttons' auto / auto auto;
    justify-content: center;

    .page {
      grid-area: page;
    }

    .buttons {
      grid-area: buttons;
      padding-top: 0.5cm;
    }
  }
}
