.Header {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    'logo title buttons' 50px
    / 150px 1fr 150px;
  width: 100%;
  background-color: var(--mui-palette-primary-dark);

  .logo {
    grid-area: logo;
  }

  .title {
    display: grid;
    grid-area: title;
    align-items: center;
    justify-items: center;
  }

  .buttons {
    display: grid;
    grid-area: buttons;
    align-items: center;
    justify-items: end;
  }
}
