.page-wrapper {
  display: grid;
  justify-items: center;
  grid:
    'page' 1fr
    / 1fr;
  width: 100%;
  margin: 0 auto;

  .page {
    grid-area: page;
    background: white;
    padding: 0;
    margin: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
}
