<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <title>Kanji Prescription</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap"
        rel="stylesheet"> -->
  <!-- <link rel="stylesheet"
        type="text/css"
        media="print"
        href="./print.scss"> -->
</head>

<body>
  <div id="app">
    <div id="wrapper">
      <div v-for="(page, index) in pages"
           class='pages'
           v-if="pages.length">
        <div class="page-container">
          <div :size="getFormat(page)"
               :layout="getLayout(page)"
               class="page">
            <div class="symbols-grid">
              <div class="row"
                   v-for="row in getCellsCount(page).rowsRange">
                <div class="col"
                     v-for="col in getCellsCount(page).colsRange">
                  <div class="cell"
                       @click="cellClick(page, row, col)">
                    <!-- <div class="cross">
                      <span class="stroke stroke-diag-left"></span>
                      <span class="stroke stroke-diag-right"></span>
                      <span class="stroke stroke-vert-left"></span>
                      <span class="stroke stroke-vert-center"></span>
                      <span class="stroke stroke-vert-right"></span>
                      <span class="stroke stroke-horiz-top"></span>
                      <span class="stroke stroke-horiz-center"></span>
                      <span class="stroke stroke-horiz-bottom"></span>
                    </div> -->
                    <div class="text-wrapper">
                      <p> {{getCellData(page, row, col).content}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-menu">
            <div class="col-add-remove"
                 :style="getTopMenuStyle(page)">
              <button class="remove-button col-remove"
                      v-for="(colHeight, colIndex) in getGridData(page).data.widths"
                      @click="colRemove(index, colIndex)">
                <em class="fa fa-minus"></em>
              </button>
              <button class="add-button col-add"
                      @click="colAdd(index)">
                <em class="fa fa-plus"></em>
              </button>
            </div>
          </div>
          <div class="right-menu"></div>
          <div class="left-menu">
            <div class="row-add-remove"
                 :style="getLeftMenuStyle(page)">
              <button class="remove-button row-remove"
                      v-for="(rowHeight, rowIndex) in getGridData(page).data.heigths"
                      @click="rowRemove(index, rowIndex)">
                <em class="fa fa-minus"></em>
              </button>
              <button class="add-button row-add"
                      @click="rowAdd(index)">
                <em class="fa fa-plus"></em>
              </button>
            </div>
          </div>
          <div class="bottom-menu">
            <button class="add-page"
                    v-if="pages.length === index + 1"
                    @click="addPageAfter(index)">
              <em class="fa fa-plus"></em>
            </button>
            <button class="add-page"
                    @click="deletePage(index)">
              <em class="fa fa-minus"></em>
            </button>
          </div>
        </div>
      </div>
      <div v-if="!pages.length">
        <button class="add-page"
                @click="addPageAfter(0)">
          <em class="fa fa-plus"></em>
        </button>
      </div>
    </div>
  </div>
</body>

</html>
