<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <title>Kanji Prescription</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap"
        rel="stylesheet"> -->
  <!-- <link rel="stylesheet"
        type="text/css"
        media="print"
        href="./print.scss"> -->
</head>

<body>
  <div id="app">
    <dialog id="edit-cell">
      <div class="modal-base">
        <p> {{selected}} </p>
      </div>
    </dialog>
    <div id="wrapper">
      <div v-for="(page, pageIndex) in pages"
           class='pages'
           :id="page.id"
           v-if="pages.length">
        <div class="page-container">
          <div :size="getGridStyles(page).format"
               :layout="getGridStyles(page).layout"
               class="page">
            <div class="symbols-grid"
                 :style="getGridStyles(page).rowGap + getGridStyles(page).margin"
                 @click="cellSelect()">
              <div class="row"
                   v-for="row in getCellsCount(page).rowsRange"
                   :style=getGridStyles(page).colGap>
                <div class="cell"
                     v-for="col in getCellsCount(page).colsRange"
                     :class="{['col_' + col]: true, ['row_' + row]: true, 'selected': isSelectedCell(page, row, col).related, 'selected-main': isSelectedCell(page, row, col).main}"
                     :style="getGridStyles(page, row, col).width + getGridStyles(page, row, col).height"
                     @click="cellSelect(page, row, col, $event)"
                     @dblclick="openModal('edit-cell')">
                  <!-- <div class="cross">
                      <span class="stroke stroke-diag-left"></span>
                      <span class="stroke stroke-diag-right"></span>
                      <span class="stroke stroke-vert-left"></span>
                      <span class="stroke stroke-vert-center"></span>
                      <span class="stroke stroke-vert-right"></span>
                      <span class="stroke stroke-horiz-top"></span>
                      <span class="stroke stroke-horiz-center"></span>
                      <span class="stroke stroke-horiz-bottom"></span>
                    </div>-->
                  <div class="text-wrapper">
                    <p> {{getCellData(page, row, col).content}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-menu">
            <div class="col-add-remove">
              <button class="remove-button col-remove"
                      @click="colRemove(page)">
                <em class="fa fa-minus"></em>
              </button>
              <button class="add-button col-add"
                      @click="colAdd(page)">
                <em class="fa fa-plus"></em>
              </button>
            </div>
          </div>
          <div class="right-menu">
            <button class="clear-page"
                    @click="clearPage(page)">
              <em class="fa fa-trash"></em>
            </button>
          </div>
          <div class="left-menu">
            <div class="row-add-remove">
              <button class="remove-button row-remove"
                      @click="rowRemove(page)">
                <em class="fa fa-minus"></em>
              </button>
              <button class="add-button row-add"
                      @click="rowAdd(page)">
                <em class="fa fa-plus"></em>
              </button>
            </div>
          </div>
          <div class="bottom-menu">
            <button class="add-page"
                    v-if="pages.length === pageIndex + 1"
                    @click="addPageAfter(pageIndex)">
              <em class="fa fa-plus"></em>
            </button>
            <button class="add-page"
                    @click="deletePage(pageIndex)">
              <em class="fa fa-minus"></em>
            </button>
          </div>
        </div>
      </div>
      <div v-if="!pages.length">
        <button class="add-page"
                @click="addPageAfter()">
          <em class="fa fa-plus"></em>
        </button>
      </div>
    </div>
  </div>
</body>

</html>
