@font-face {
  font-family: "China1";
  src: url("../fonts/sunyunhekukai.ttf") format("truetype");
}

@font-face {
  font-family: "China2";
  src: url("../fonts/WCL-07.ttf") format("truetype");
}

@font-face {
  font-family: "China3";
  src: url("../fonts/wt024.ttf") format("truetype");
}

@font-face {
  font-family: "China4";
  src: url("../fonts/wts11.ttf") format("truetype");
}

@font-face {
  font-family: "China5";
  src: url("../fonts/cwTeXQFangsong-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "China6";
  src: url("../fonts/HanWang_KaiBold-Gb5.ttf") format("truetype");
}

/* @font-face {
  font-family: "KaiTi_GB2312";
  src: url("http://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.woff2") format("woff2")
} */

@font-face {
  font-family: "KaiTi_GB2312";
  src: url("../fonts/KaiTi_GB2312.woff2") format("woff2")
}